
.course-info-title-box {
    background-color: #355386;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
}

.course-info-title {
    color: white;
}

.course-info-box {
    background-color: #ffffff;
    width: 95%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: auto;
}

.flex{
    display: flex; 
}

.saved-courses-list {
    margin: 50px auto;
    margin-left: 20px;
    display: flex;
}

.more-info-button{
    margin-top: 50px;
    margin-right: 50px;
    background: #355386;
    width: 10%; 
    height: 6vh; 
    padding: 20px auto;
    border-radius: 50px;
    color:white;
    border: none;
}

.more-info-button-text {
    text-decoration: none;
    color:white;
}


.remove-button {
    margin-top: 50px;
    margin-right: 80px;
    width: 10%; 
    height: 6vh; 
    border-radius: 50px;
    border: none;   
}

.remove-button-text {
    width: 100%; 
    height: 6vh; 
    border-radius: 50px;
    text-decoration: none;
    color:white;
    background: #355386;
    border: none;
}

.line{
    display: block; 
    background: #000000; 
    margin-top: -10px;
}