body {
    width: 100%;
    height: auto;
}

.search-bar {
    background: #FFFFFF;
    width: 50%;
    height: 5vh;
    padding: 20px auto;
    margin: 20px auto;
    margin-left: 3%;
    margin-right: 23%;
    border-radius: 50px;
    border: none;
}

.saved-courses-button {
    background: #ffffff;
    width: 10%; 
    height: 6vh; 
    border-radius: 50px;
    border: none;
}

.saved-courses-button-text {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.logout-button {
    background: #ffffff;
    width: 10%; 
    height: 6vh;
    border-radius: 50px;
    border: none;
}

.logout-button-text {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.course-info-title-box {
    background-color: #355386;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
}

.course-info-title {
    color: white;
}

.course-info-box {
    background-color: #ffffff;
    width: 95%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: auto;
}

.saved-courses-list {
    margin: 50px auto;
    margin-left: 20px;
    display: flex;
}

.line{
    display: block; 
    background: #000000; 
}

.more-info-button{
    margin-left: 70%;
    margin-top:-90px;
    background: #355386;
    width: 10%; 
    height: 6vh; 
    padding: 20px auto;
    border-radius: 50px;
    color:white;
    border: none;
}

.more-info-button-text {
    text-decoration: none;
    color:white;
}


.remove-button{
    margin-left: 85%;
    margin-top:-90px;
    background: #355386;
    width: 10%; 
    height: 6vh; 
    padding: 20px auto;
    border-radius: 50px;
    color:white;
    border: none;
}