.body {
    margin-bottom: 70%;
    width: 100%;
    height: 100%;
}

.search-bar {
    background: #FFFFFF;
    width: 50%;
    height: 5vh;
    padding: 20px auto;
    margin: 20px auto;
    margin-left: 2%;
    margin-right: 25%;
    border-radius: 50px;
}

.saved-courses-button {
    background: #ffffff;
    width: 10%; 
    height: 6vh; 
    padding: 20px auto;
    border-radius: 50px;
}

.logout-button {
    background: #ffffff;
    width: 20%; 
    height: 6vh;
    padding: 20px auto;
    border-radius: 50px;
}

.course-info-title-box {
    background-color: #355386;
    width: 95%;
    height: 8vh;
    margin: 0px auto;
    color: white;
}

.course-info-title {
    padding-left: 20px;
    padding-top:1vh;
}

.course-info-box {
    background-color: #ffffff;
    width: 95%;
    height: 100vh;
    margin: 0px auto;
    overflow: auto;
}

.saved-courses-list {
    padding-left: 30px;
    padding-top:10px;
    padding-bottom:10px;
    
}

.line{
    display: block; 
    background: #000000; 
}

.more-info-button{
    margin-left: 50%;
    margin-right: 2%;
    background: #355386;
    width: 10%; 
    height: 6vh; 
    padding: 20px auto;
    border-radius: 50px;
    color:white;
}

.remove-button{
    background: #355386;
    width: 10%; 
    height: 6vh; 
    padding: 20px auto;
    border-radius: 50px;
    color:white;
}