h1 {
    text-align: center;
    color: white;
    margin-left: 30vh;
    margin-top: 10vh;
}

table.centre {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > td,
.table-bordered {
    border-left: 0;
    border-right: 0;
}

.middle {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

table.table {
    background-color: white;
}

.table-button {
    color: white;
    border-color: #355386;
    border-radius: 12px;
}

table.table thead th {
    padding:0;
}

table.table tbody td {
    padding: 10px;
}

.centre {
    font-size: 20px;
}

.nomatch {
    margin-left: 20px;
    text-align: center;
    align-items: center;
}

.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}