/* Any specific styling needed for search page */


.middle-search {
    color: #355386;
    font-weight: 600;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons-top-right {
    float: right;
}

.search-box input{
    border-radius: 20px;
    color: #355386;
    border: none;
    display:inline-block;
    padding:15px 10px;
    line-height:140%;
    width: 50%;
    font-weight: 300;
    font-size: 20px;
    border-bottom: 1px solid #94d2ef;
}

.search-landing-button {
    color: #355386;
    font-size: 20px;
    background: rgb(255, 255, 255);
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    opacity: 100%;
    margin: 5px auto;
}

