<!doctype html>

{% block imports %}
<link rel="stylesheet" href="../static/styles/course.css">
{% endblock %}

{% block main %}
<html>
  <body bgcolor=#BCDDEA class="body">
    <img src="../static/Group.svg" class="topicon">
    <input type="text" class="searchbar" placeholder="Search..">
    <button class="savedcoursesbutton" type="button">
      Saved Courses
    </button>
    <button type="button" class="logoutbutton">
      Log Out
    </button>

    <rect class="rect1"/>
      <div class="coursename">
        ECE000 - Course Name
      </div>
      <button type="button" class="savebutton">
        Save
      </button>
    </rect>

    <rect class="rect2"/>
      <div class="courseinformation"> 
        Course Information:
      </div>
      <div class="info"> 
        This section is gonna present all the details and information about the course we are searching for. This section is gonna present all the details and information about the course we are searching for. This section is gonna present all the details and information about the course we are searching for. This section is gonna present all the details and information about the course we are searching for. This section is gonna present all the details and information about the course we are searching for. This section is gonna present all the details and information about the course we are searching for.<br /><br /><br />Pre-requisites: ECE001, ECE002       
          <div class="downloadsyllabus"> 
            Download Syllabus:<a href="https://trello.com/b/36RbXYxA/ece444-tensiletech"> Syllabus.pdf</a>      
              <div class="filterapplied"> 
                Filters Applied:  
                    <div class="universityyear"> 
                      4th year
                    </div>
                    <div class="department"> 
                      Engineering
                    </div>
                    <div class="year"> 
                      2020
                    </div>
                    <div class="professor"> 
                      Prof. Hamid
                    </div>
                    <div class="campus"> 
                      St. George
                    </div>
                    <div class="semester"> 
                      Fall
                    </div>
              </div>
          </div>
      </div>    
    </rect>



    <rect class="rect3"/>
      <div class="commentsection">
        Comments
      </div>
    </rect>

    <rect class="rect4"/>
      <div class="comment1"> 
        Former Student:<br /><br /> This section shows the comments by past or current students of this course. Here they share their experience.
        <img src="../static/Group.svg" class="icon2">
          <div class="comment2"> 
            Former Student:<br /><br /> This section shows the comments by past or current students of this course. Here they share their experience.
            <img src="../static/Group.svg" class="icon2">
          </div>
      </div>
      <hr size="1" class="line">
      <input type="text" class="commentarea" placeholder="You name and affiliation">
      <input type="text" class="commentarea2" placeholder="write youe comment here...">
      <img src="../static/Group.svg" class="icon3">
    </rect>


    
  </body>
</html>
{% endblock %}
