{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block imports %}
<link rel="stylesheet" href="../static/styles/course.css">
{% endblock %}

{% block main %}
{{ macros.navbar('course') }}

<div class="main-content">
    <div class="course-info-box">
        <div class="course-info-title-box">
            <h3>{{code}} - {{name}}</h3>
            <form class="save-course" action="{{ url_for('courses.save_course', code=code) }}" method="post">
                <button class="save-button" type="submit">Save</button>
            </form>
        </div>
        <div class="course-info-content">
            <h3>Course Information</h3>
            <p> 
                {{description}}
            </p>
            <p><b>Course Level:</b> {{level}}</p>
            <p><b>Campus:</b> {{campus}}</p>
            <p><b>Division:</b> {{division}}</p>
            <p><b>Department:</b> {{department}}</p>
            <p><b>Terms Offered:</b> {{terms|join(", ")}}</p>

            <hr>
            <h4 class="new-section-header">Requirements</h4>
            <p>
                <b>Pre-requisites:</b>
                {% if pre|length > 0 %}
                    {{ pre|join(", ") }}
                {% else %}
                    None
                {% endif %}
            </p>
            <p>
                <b>Co-requisites:</b>
                {% if coreq|length > 0 %}
                    {{ coreq|join(", ") }}
                {% else %}
                    None
                {% endif %}
            </p>
            <p>
                <b>Exclusions:</b>
                {% if excl|length > 0 %}
                    {{ excl|join(", ") }}
                {% else %}
                    None
                {% endif %}
            </p>

            {% if filters|length > 0 %}
            <hr>
            <h4 class="new-section-header">Related Filters</h4>
            <div class="info-list">
                {% for filter in filters %}
                    <p class="list-item">{{prereq[0]}} </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="comments-box">
        <div class="course-comments-title-box">
            <h3>Comments</h3>
        </div>
        <ul class="comments-list">
            {% for comment in comments %}
            <li class="comment">
                <div><b>{{comment.userId}}</b></div>
                {{comment.comment}}
            </li>
            {% else %}
            <div class="empty-list"><em>There are no comments yet.</em></div>
            {% endfor %}
        </ul>
        <div class="comment-entry">
            <hr>
            <form
                action="{{ url_for('courses.add_comment', code=code) }}"
                method="post"
                class="add-comment"
            >
                <textarea name="text" placeholder="Your comment..."></textarea>
                <input class="comment-button" type="submit" value="Post" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
