{% extends "base.html" %}

{% block imports %}
<link rel="stylesheet" href="../static/styles/landing.css">
<link rel="stylesheet" href="../static/styles/search.css">
{% endblock %}

{% block main %}
<div class="landing-form">
    {% if form.errors %}
        <h3>Sorry...</h3>
    {% elif page == "login" %}
        <h3>Welcome Back</h3>
        <h3 class="logo">BetterPath</h3><br>
    {% elif page == "create" %}
        <h3>Sign Up</h3>
        <h1 class="logo">BetterPath</h1><br>
    {% endif %}

    <!-- Print flash error messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% if "created" in messages[-1] %}
            <h6 class = "text-success">{{ messages[-1] }}</h6>
        {% else %} 
            <h6 class = "text-danger">{{ messages[-1] }}</h6>
        {% endif %}
    {% endif %}
    {% endwith %}

    {% from "_formhelpers.html" import render_textfield %}
    <form method="post">
        <!-- Generating the csrf token -->
        {{ form.csrf_token }} 
        <!-- Rendering the form's hidden fields -->
        {{ form.hidden_tag() }}
        <div class="landing-form-input-box">
            {% if form.email %}
                {{ render_textfield(form.email) }}
            {% endif %}
            {{ render_textfield(form.username) }}
            {{ render_textfield(form.password) }}
            {% if form.confirm_password %}
                {{ render_textfield(form.confirm_password) }}
            {% endif %}
        </div>
        {% for field, error in form.errors.items() %}
            <div class="landing-form-error">
                {{ ', '.join(error) }}
            </div>
        {% endfor %}
        {{ form.submit(class="landing-button") }}
    </form>
    {% if page == "login" %}
        <a class="landing-redirect" href= "{{ url_for('users.create') }}" >Create an account</a>
    {% elif page == "create" %}
        <a class="landing-redirect" href= "{{ url_for('users.login') }}" >Already have an account?</a>
    {% endif %}
</div>
{% endblock %}
