{% block imports %}
<link rel="stylesheet" href="../static/styles/course.css">
{% endblock %}

{% block main %}
<html>
  <body bgcolor=#BCDDEA class="body">
    <input type="text" class="search-bar" placeholder="Search..">
    <button class="saved-courses-button" type="button">
      <a href= "{{ url_for('courses.my_courses') }}">Saved Courses</a>
    </button>
    <button class="logout-button" type="button">
      <a href= "{{ url_for('users.logout') }}">Log Out</a>
    </button>
      <div class="course-info-title-box">
        <h1 class="course-info-title">Saved Courses</h1>
      </div>
      <div class="course-info-box">
        {% for course in courses %}
          <p class="saved-courses-list">{{course[0]}}
            <button class="more-info-button" type="button">
              <a href= "{{ url_for('courses.course', code = course.courseId) }}">
                More Info
              </a>
            </button>
            <button class="remove-button" type="button">
              <form action="{{ url_for('courses.save_course', code = course.courseId) }}" method="POST">
                <input class="btn" type="submit" value="Remove">
              </form>
            </button>
          </p>
          <hr size="1" class="line">

        {% endfor %}          
      </div>
    </div>
  </body>
</html>
{% endblock %}