{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block imports %}
<link rel="stylesheet" href="static/styles/common.css">
<link rel="stylesheet" href="static/styles/landing.css">
<link rel="stylesheet" href="static/styles/search.css">
{% endblock %}


{% block main %}
{{ macros.navbar('search') }}
<div class="search-form">
    
    {% from "_formhelpers.html" import render_searchtextfield, filter_render_field%}
    <form method="post">
        <!-- <div class="buttons-top-right"> -->
            <!-- {{ search_form.log_out(class="search-landing-button") }} -->
            <!-- {{ search_form.saved_courses(class="search-landing-button") }} -->
        <!-- </div> -->
        <div class="middle-search">
            <h3>Welcome to BetterPath!</h3>
            <h3>Search For Courses</h3>
            {{ render_searchtextfield(search_form.keywords) }}
        </div>
        <div class="centering">
            {{ search_form.search(class="search-landing-button") }}
        </div>
        <div class="rectangle">
            <h5 class="filter-title">Filters</h5>
            <div class="courseyear-filter">
                {{ filter_render_field(filter_form.select) }}
            </div>
            <div class="division-filter">
                {{ filter_render_field(filter_form.divisions) }}
            </div>
            <div class="campus-filter">
                {{ filter_render_field(filter_form.campuses) }}
            </div>
        </div>
    </form> 
</div>

{% endblock %}