{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block imports %}

<link rel="stylesheet" href="static/styles/common.css">
<link rel="stylesheet" href="static/styles/landing.css">
<link rel="stylesheet" href="static/styles/search.css">
<link rel="stylesheet" href="static/styles/results.css">

{% endblock %}

{% block main %}
{{ macros.navbar('results') }}

<h1>Search Results</h1>

<br> <br> <br> <br>

{% if data != [] %}
    <div class=" middle scrollbar">
        <table align="center" class="table mb-0 text-center table-sm scroll-y ">
            <tbody>
            <tr class="heading">
                <td> Code </td>
                <td> Name </td>
                <td> Division </td>
                <td> Course Level </td>
                <td> Campus </td>
                <td></td>
                <td></td>
            </tr>
            {% for course in data %}
                <tr>
                    {% set ns = namespace(course_url="/course/") %}
                    <td> {{ course["Code"] }} </td>
                    <td> {{ course["Name"] }} </td>
                    <td> {{ course["Division"] }}</td>
                    <td> {{ course["Course Level"] }}</td>
                    <td> {{ course["Campus"] }}</td>
                    {% set ns.course_url = ns.course_url + course["Code"] %}
                    <td><a class="btn btn-primary table-button" href= "{{ ns.course_url }}">More Info</a></td>
                    <td><button class="btn btn-primary table-button">Save Course</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="text-align: center; top: 80%;">
            <br>
            <a href="/" style="font-size: 22px; margin: 0 auto; font-family: 'Open Sans';"> Click Here to Return Back to Search! </a>
        </div>
    </div>
{% else %}
    <div class="middle-search">
        <h3 style="margin: 0 auto;">Sorry, There are No Courses Matching Your Search! </h1>
        <a href="/" style="font-size: 22px; margin: 0 auto;"> Click Here to Return Back to Search! </a>
    </div>
{% endif %}



{% endblock %}