{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block imports %}

<!-- need to use url_for() to find the the neccessary css files after search results redirect! -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/landing.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/results.css') }}">

{% endblock %}

{% block main %}
<!-- importing the navbar, general to all the pages -->
{{ macros.navbar('results') }}

<br><br>

<h1>Search Results</h1>

<br> <br> <br> <br>

{% if data != [] %}
    <!-- Alignment and creating a scrollbar for the entire table -->
    <div class="middle scrollbar">
        <!-- Using bootstrap classes + customized class to design results table -->
        <table align="center" class=" table mb-0 text-center table-sm scroll-y ">
            <tbody>
            <tr class="heading">
                <td> Code </td>
                <td> Name </td>
                <td> Division </td>
                <td> Course Level </td>
                <td> Campus </td>
                <td></td>
                <td></td>
            </tr>
            <!-- Looping through the customized list of dicts to display search results in the table -->
            {% for course in data %}
                <tr style="text-align: center;">
                    {% set ns = namespace(course_url="/course/") %}
                    <td> {{ course["Code"] }} </td>
                    <td> {{ course["Name"] }} </td>
                    <td> {{ course["Division"] }}</td>
                    <td> {{ course["Course Level"] }}</td>
                    <td> {{ course["Campus"] }}</td>
                    {% set ns.course_url = ns.course_url + course["Code"] %}
                    <td><a class="btn btn-primary table-button" href= "{{ ns.course_url }}">More Info</a></td>
                    <form class="save-course" action="{{ url_for('courses.save_course', code=course["Code"]) }}" method="post">
                        {% if course["isSaved"] == True %}
                            <td><button class="btn btn-primary btn-danger table-button-saved">Saved</button></td>
                        {% else %}
                            <td><button class="btn btn-primary table-button">Save Course</button></td>
                        {% endif %}
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- call back to search page at the bottom -->
    <div class="below-table">
        <a href="/" style="font-size: 22px; font-family: 'Open Sans';"> Return to Search </a>
    </div>
{% else %}
    <!-- fallback message for null search results from the query -->
    <div class="middle-search">
        <h3 style="margin: 0 auto;">Sorry, There are No Courses Matching Your Search! </h1>
        <a href="/" style="font-size: 22px; margin: 0 auto;"> Click Here to Return Back to Search! </a>
    </div>
{% endif %}


{% endblock %}